@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

//width
$max_width: 1000px;
$width: 960px;
$min_width: 320px;

$detail_w: 800px;

$pc_break_w: 701px;
$sp_break_w: $pc_break_w - 1;

//色
$blue01: #005caf;
$blue02: #00294d;
$blue03: #1f96ff;
$blue04: #e5f0f9;


$gray01: #f5f5f5;
$gray02: #eee;

$gray03: #c9c9c9;
$gray04: #aaa;

$gray05: #666;
$gray06: #ccc;
$gray07: #999;
$gray08: #333;

//z-index
$zi-overlay: 300;
$zi-navi: 400;
$zi-menu: 450;
$zi-fix_menu: 100;
$zi-pagetop: 100;
$zi-header: 30;

//kinomama
//size
$ki_max_width: 1350px;
$ki_width: 960px;
$ki_width_in: 860px;
$ki_min_width: 320px;
$ki_side_w: 300px;

$ki_pc_break_w: 801px;
$ki_sp_break_w: $ki_pc_break_w - 1;

//color

$green01: #399548;
$green0108: rgba(57, 149, 72, .8);
$ki_color01: #eee;
$ki_color02: #ccc;
