@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
::selection {
	background: $is_color_or02;
	color: $is_color_wb01;
}

::-moz-selection {
	background: $is_color_or02;
	color: $is_color_wb01;
}

body {
	font-family: $ff_shs-jp;
	font-weight: 200;
}

html:not(.is-browser_ie) {
	[data-move-event="false"] {
		.l-container {
			opacity: 1;
			transition: opacity .5s ease;
		}
	}

	[data-move-event="true"] {
		.l-container {
			opacity: 0;
			transition: opacity .3s ease;
		}
	}
}

.l-container {
	background-color: $is_color_wb01;
	position: relative;
}

.l-main {
	color: $is_color_wb03;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.l-main {
		overflow: hidden;
	}

	html:not(.is-browser_ie) {
		[data-move-event="true"] {
			overflow-y: auto;
			overflow-x: hidden;
			&[data-move-anime="scale"] {
				.l-main {
					transform: scale(1.05);
					transition: transform .3s ease;
				}
			}
		}
	}

	.l-container {
		&:before {
			width: 100%;
			height: 2px;
			background-color: $is_color_or01;
			position: fixed;
			top: 0;
			left: 0;
			z-index: $l-topline_num;
			content: "";
		}
	}

	.l-body {
		padding: 0 40px 80px;
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	body {
		min-width: $min_width;
		background-color: $is_color_wb02;
	}

	.l-body {
		padding: 0 20px 40px;
	}
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
.l-header {
	width: 100%;
	background-color: $is_color_wb01;
	top: 0;
	left: 0;
	z-index: $l-header_num;
	&__logo {
		&--anchor {
			display: table;
			line-height: 1;
		}
		&--top {
			display: none;
		}
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-header {
		padding: 17px 30px 15px;
		height: $header_h_pc;
		position: fixed;
		&__logo {
			&--img {
				width: 149px;
				height: 49px;
			}
		}
	}

	//is-scrlMoveClass
	.is-scrlMoveClass {
		.l-header {
			height: $header_h_pc_move;
			background-color: $is_color_wb01;
			box-shadow: 0 0 5px $is_color_wb02a5;
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-header {
		padding: 10px;
		height: $header_h_sp;
		position: absolute;
		&__logo {
			&--img {
				width: auto;
				height: 40px;
			}
		}
	}
}

/*------------------------------------------------------------
	menuBtn
------------------------------------------------------------*/
.l-menuBtn {
	width: 40px;
	height: 40px;
	background-color: $is_color_wb02a0;
	border-radius: 100%;
	overflow: hidden;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: $l-menu_num;
	&:before,
	&:after {
		margin: auto;
		width: 25px;
		height: 3px;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		content: "";
	}
	&:before {
		background-color: $is_color_wb01;
		z-index: 0;
		transform: rotate(45deg) translateX(150%);
		transition: opacity .3s ease, transform .3s ease;
	}
	&:after {
		background-color: $is_color_or01;
		z-index: 1;
		transform: rotate(-45deg) translateX(150%);
		transition: opacity .3s ease, transform .3s ease .1s;
	}
	&__in {
		width: 25px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		right: 7px;
		transform: translateY(-50%);
	}
	&__bar {
		height: 2px;
		background-color: $is_color_wb03;
		opacity: 1;
		position: absolute;
		right: 0;
		transition: opacity .3s ease, transform .3s ease;

		&.is-top {
			width: 25px;
			top: 0;
		}
		&.is-middle {
			margin: auto;
			width: 18px;
			top: 0;
			bottom: 0;
		}
		&.is-bottom {
			width: 11px;
			top: calc(100% - 2px);
		}
	}
}

//スクロールの位置が先頭じゃない時
.is-scrlMoveClass {
	.l-menuBtn {
		background-color: $is_color_wb01;
		box-shadow: 0 0 10px $is_color_wb02a5;
		transition: background-color .3s ease, box-shadow .3s ease,  width 0s ease 1s, height 0s ease 1s;
	}
}

//close
.is-opneGnavi {
	.l-menuBtn {
		width: 100%;
		height: $header_h_sp;
		background-color: $is_color_wb02a0;
		box-shadow: none;
		top: 0;
		right: 0;
		transition: background-color 0 ease, box-shadow 0 ease;
		&:before,
		&:after {
			opacity: 1;
		}
		&:before {
			transform: rotate(45deg) translateX(0);
		}
		&:after {
			transform: rotate(-45deg) translateX(0);
		}
		&__bar {
			opacity: 0;

			&.is-top {
				transform: translateX(150%);
			}
			&.is-middle {
				transform: translateX(-150%);
			}
			&.is-bottom {
				transform: translateX(150%);
			}
		}
	}
}

/*------------------------------------------------------------
	overlay
------------------------------------------------------------*/
.l-overlay {
	width: 100%;
	height: 100%;
	background-color: $is_color_wb03;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $l-overlay_num;
	transform: translateX(-100%);
	transition: opacity .3s ease, transform .3s ease;
}

//メニュー開いた時
.is-opneGnavi {
	.l-overlay {
		opacity: 1;
		transform: translateX(0);
	}
}

/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
.l-gNavi {
	position: fixed;
	top: 0;
	right: 0;
	z-index: $l-gnavi_num;
	&__anchor {
		height: 100%;
		display: block;
		position: relative;
		text-decoration: none;
		&:before,
		&:after {
			position: absolute;
			z-index: 1;
			content: "";
		}
		//リンクなし
		&.is-noLink {
			color: $is_color_wb05;
			pointer-events: none;
		}
	}
	&__level {
		&--anchor {
			display: block;
			position: relative;
			text-decoration: none;
		}
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-gNavi {
		padding-right: 30px;
		&__wrap {
			height: $header_h_pc;
			@include flex_center;
			transition: height .3s ease;
		}
		&__in {
			height: 100%;
			display: flex;
		}
		&__list {
			height: 100%;
			position: relative;
			&:not(:nth-child(2)) {
				margin-left: 35px;
			}
		}
		&__anchor {
			padding-top: 31px;
			position: relative;
			z-index: 1;
			color: $is_color_wb03;
			text-align: center;
			transition: color .3s ease;
			&:before,
			&:after {
				width: 0;
				height: 3px;
				background-color: $is_color_or01;
				bottom: 0;
				transition: width .3s ease;
			}
			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}

			//リンクなし
			&.is-noLink {
				color: $is_color_wb05;
				pointer-events: none;
			}
		}
		&__txt {
			&--en,
			&--jp {
				display: block;
				transition: font-size .3s ease;
			}
			&--en {
				font-size: 1.7rem;
				font-weight: 600;
			}
		}

		&__level {
			padding: 10px;
			width: 260px;
			height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: $header_h_pc;
			left: -10px;
			z-index: 0;
			transform: translateY(-50%);
			transition: transform .3s ease .15s, opacity .3s ease;
			&--in {
				background-color: $is_color_wb01;
				box-shadow: 0 0 10px $is_color_wb02a4;
			}
			&--list {
				position: relative;
				&:not(:first-child) {
					border-top: 1px solid $is_color_wb06;
				}
			}
			&--anchor {
				padding: 12px 20px;
				background-color: $is_color_wb01;
				position: relative;
				z-index: 1;
				color: $is_color_wb03;
				font-size: 1.4rem;
				line-height: 1;
				transition: background-color .3s ease, color .2s ease;
				&:hover {
					background-color: $is_color_or01;
					color: $is_color_wb01;
				}
			}
		}

		//hover
		&__list:hover {
			.l-gNavi__anchor:not(.is-noLink) {
				color: $is_color_or01;
				&:before,
				&:after {
					width: 50%;
				}
			}
			.l-gNavi__level {
				height: auto;
				opacity: 1;
				transform: translateY(0);
				transition: transform .3s ease, opacity .3s ease .1s;
			}
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-gNavi {
		padding-top: 60px;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 1.4rem;
		transform: translateX(100%);
		transition: opacity 0s ease, transform .3s ease;
		&__wrap {
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
		&__in {
			border-top: 1px solid $is_color_wb04;
		}
		&__list {
			border-bottom: 1px solid $is_color_wb04;
		}
		&__anchor {
			padding: 15px;
			padding-right: 45px;
			color: #FFF;
			&:before,
			&:after {
				width: 12px;
				height: 3px;
				background-color: $is_color_wb01;
				position: absolute;
				top: 50%;
				right: 18px;
				content: "";
				transition: background-color .3s ease;
			}
			&:before {
				margin-top: -5px;
				transform: rotate(45deg);
			}
			&:after {
				margin-top: 2px;
				transform: rotate(-45deg);
			}
		}
		&__txt {
			&--en {
				font-weight: 700;
			}
			&--jp {
				margin-left: 15px;
			}
		}

		&__level {
			background-color: $is_color_wb07;
			&--list {
				border-top: 1px solid $is_color_wb03;
			}
			&--anchor {
				padding: 10px;
				padding-left: 35px;
				color: #FFF;
				font-size: 1.2rem;
				&:before,
				&:after {
					width: 9px;
					height: 3px;
					background-color: $is_color_wb01;
					position: absolute;
					top: 50%;
					right: 20px;
					content: "";
					transition: background-color .3s ease;
				}
				&:before {
					margin-top: -3px;
					transform: rotate(45deg);
				}
				&:after {
					margin-top: 2px;
					transform: rotate(-45deg);
				}
			}
		}

		&__contact {
			padding: 0 15px 30px;
			background-color: $is_color_wb07;
			border-bottom: 1px solid $is_color_wb04;
			overflow: hidden;
			color: $is_color_wb01;
			font-size: 1.2rem;
			&--name {
				margin: 30px auto 0;
				display: table;
				position: relative;
				&:before,
				&:after {
					width: 50px;
					height: 1px;
					background-color: $is_color_wb01;
					position: absolute;
					top: 50%;
					content: "";
				}
				&:before {
					left: -65px;
				}
				&:after {
					right: -65px;
				}
			}
			&--txt {
				margin-top: 10px;
				text-align: center;
			}
			&--btn {
				padding: 15px 45px;
				border-radius: 10px;
				display: block;
				position: relative;
				font-size: 1.4rem;
				font-weight: 400;
				text-decoration: none;
				&:before,
				&:after {
					width: 12px;
					height: 3px;
					position: absolute;
					top: 50%;
					right: 15px;
					content: "";
				}
				&:before {
					margin-top: -5px;
					transform: rotate(45deg);
				}
				&:after {
					margin-top: 2px;
					transform: rotate(-45deg);
				}

				&__icon {
					margin-top: -7px;
					position: absolute;
					top: 50%;
					left: 15px;
				}

				&.is-tel {
					margin-bottom: 5px;
					background-color: $is_color_wb01;
					color: $is_color_wb07;
					&:before,
					&:after {
						background-color: $is_color_wb07;
					}
					.l-gNavi__contact--btn__icon {
						fill: $is_color_wb07;
					}
				}

				&.is-mail {
					margin-bottom: 5px;
					background-color: $is_color_or01;
					color: $is_color_wb01;
					&:before,
					&:after {
						background-color: $is_color_wb01;
					}
					.l-gNavi__contact--btn__icon {
						fill: $is_color_wb01;
					}
				}
			}
		}
	}

	//メニュー開いた時
	.is-opneGnavi {
		.l-container {
			width: 100%;
			position: fixed;
			left: 0;
			z-index: 0;
		}

		.l-gNavi {
			opacity: 1;
			transform: translateX(0);
			transition: opacity .3s ease, transform .3s ease;
		}
	}
}

.l-snsNavi {
	display: flex;
	justify-content: center;
	align-items: center;
	&__anchor {
		border-radius: 100%;
		display: block;
		line-height: 1;
	}
	&__anchor {
		background-color: #FFF;
	}
	&__icon {
		fill: $is_color_wb03;
		&.is-instagram {
			stroke: #fff;
		}
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-snsNavi {
		margin-top: 50px;
		&__list {
			padding-right: 5px;
			padding-left: 5px;
		}
		&__anchor {
			padding: 6px 5px 4px;
			transform: scale(1);
			transition: transform .3s ease;
		}

		//hover
		&__anchor:hover {
			transform: scale(1.2);
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-snsNavi {
		margin-top: 15px;
		padding-bottom: 15px;
		&__list {
			margin: 0 15px;
		}
		&__anchor {
			padding: 7px 6px 4px;
		}
		&__icon {
			width: 30px;
			height: 30px;
		}
	}
}

/*------------------------------------------------------------
	pagepath
------------------------------------------------------------*/
.l-pagepath {
	display: flex;
	color: $is_color_wb04;
	text-align: left;
	&__list {
		margin-right: 5px;
	}
	&__anchor {
		margin-right: 5px;
		color: $is_color_wb04;
		text-decoration: none;

		&.is-noLink {
			pointer-events: none;
		}
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-pagepath {
		margin-top: 20px;
		@include conts_center;
		&__anchor {
			font-size: 1.2rem;
			@include text_hover_anime01($is_color_wb04);

			&.is-noLink {
				pointer-events: none;
			}
		}
		& + * {
			margin-top: 70px;
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-pagepath {
		padding-top: 15px;
		&__anchor {
			font-size: 1rem;
		}
		& + * {
			margin-top: 15px;
		}
	}
}

/*------------------------------------------------------------
	contactGuide
------------------------------------------------------------*/
.l-contactGuide {
	background-color: $is_color_wb05;
	font-size: 1.4rem;
	text-align: center;
	&__bg {
		background: url(/assets/img/common/bg/contact.jpg) no-repeat center;
		background-size: cover;
	}
	&__in {
		height: 100%;
		background-color: $is_color_wb01a85;
	}
	&__txt {
		font-weight: 500;
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-contactGuide {
		&__bg {
			height: 400px;
		}
		&__in {
			padding-top: 70px;
		}
		&__txt {
			margin-top: 25px;
		}
		&__btn {
			margin-top: 40px;
		}
		&__telTxt {
			padding: 24px;
			display: block;
			color: $is_color_wb03;
			&--num {
				font-size: 2.4rem;
				font-weight: 700;
				vertical-align: baseline;
			}
			&--time {
				margin-left: 15px;
				font-size: 1.2rem;
				font-weight: 200;
				vertical-align: baseline;
			}
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-contactGuide {
		&__in {
			padding: 20px;
			padding-bottom: 25px;
		}
		&__txt {
			margin-top: 15px;
		}
		&__btn {
			margin-top: 20px;
		}
	}
}

/*------------------------------------------------------------
	pagetop & footer
------------------------------------------------------------*/
.l-pagetop {
	background-color: $is_color_wb02;
	box-shadow: 0 0 5px $is_color_wb01a8;
	border-radius: 100%;
	position: fixed;
	opacity: 0;
	z-index: $l-pagetop_num;
	transform: translateX(100%);
	transition: opacity .3s ease, transform .3s ease;
	&__icon {
		position: relative;
		top: 0;
		z-index: 1;
		stroke: #fff;
		fill: rgba(0, 0, 0, 0);
		transition: top .3s ease;
	}
}

//スクロールの位置が先頭じゃない時
.is-scrlMoveClass {
	.l-pagetop {
		opacity: 1;
		transform: translateX(0);
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-pagetop {
		padding-top: 22px;
		padding-left: 13px;
		width: 60px;
		height: 60px;
		right: 20px;
		bottom: 40px;

		//hover
		&:hover {
			opacity: .7;
			.l-pagetop__icon {
				top: -5%;
			}
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-pagetop {
		padding-top: 13px;
		padding-left: 9px;
		width: 40px;
		height: 40px;
		right: 10px;
		bottom: 10px;

		&__icon {
			width: 22px;
			height: 12px;
		}
	}
}

.l-footer {
	&__in {
		background-color: $is_color_wb02;
	}
	&__copyright {
		color: $is_color_wb05;
		font-size: 1.2rem;
		font-weight: 400;
		text-align: center;
	}
}

.is-notCommonMap {
	.l-footer__commonMap {
		display: none;
	}
}

// PC用
@media only screen and (min-width: $pc_break_w){
	.l-footer {
		overflow: hidden;
		&__in {
			padding: 40px;
			box-shadow: 0 0 10px rgba(0,0,0,.8);
			position: relative;
			z-index: 1;
		}
		&__sitemap {
			margin: 0 auto;
			display: table;
			&--in {
				display: flex;
			}
			&--list {
				line-height: 1;
				&:not(:first-child) {
					margin-left: 10px;
					padding-left: 10px;
					position: relative;
					&:before {
						margin-top: -7px;
						width: 1px;
						height: 14px;
						background-color: $is_color_wb01;
						position: absolute;
						top: 50%;
						left: 0;
						content: "";
					}
				}
			}
			&--anchor {
				color: $is_color_wb01;
				line-height: 1.5;
				font-size: 1.4rem;
				text-decoration: none;
				@include text_hover_anime01($is_color_wb01);

				&.is-noLink {
					color: $is_color_wb04;
					pointer-events: none;
				}
			}
			&--name {
				margin-top: 20px;
			}
			&--cate {
				margin-top: 5px;
				padding-left: 10px;
			}
		}
		&__copyright {
			margin-top: 50px;
		}
		&__commonMap {
			height: 500px;
			background-color: #999;
			z-index: 1;
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-footer {
		&__in {
			padding: 20px;
		}
	}
}


/*------------------------------------------------------------
	looding
------------------------------------------------------------*/
.l-looding {
	width: 100%;
	height: 100%;
	position: fixed;
	@include all_center01;
	z-index: $looding_num;

	&__bar {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 0;
		content: "";
		&:before {
			width: 100%;
			height: 100%;
			border: solid transparent;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			content: "";
		}
		&.is-basic {
			animation: spin01 1.7s infinite ease;
			// transform: rotateX(45deg) rotateY(45deg);
			&:before {
				border-top-width: 0;
				border-right-width: 0;
			}
		}
		&.is-orange {
			animation: spin_orange 1.7s infinite ease;
			// transform: rotateX(-45deg) rotateY(-45deg);
			&:before {
				border-color: $is_color_or01;
				border-bottom-width: 0;
				border-left-width: 0;
			}
		}
	}
}


// PC用
@media only screen and (min-width: $pc_break_w){
	.l-looding {
		background-color: $is_color_wb01;
		&__bar {
			&:before {
				border-width: 3px;
			}
			&.is-basic {
				margin-top: -25px;
				margin-left: -25px;
				width: 50px;
				height: 50px;
				&:before {
					border-color: $is_color_wb02;
				}
			}
			&.is-orange {
				margin-top: -40px;
				margin-left: -40px;
				width: 80px;
				height: 80px;
			}
		}
	}
}

// SP用
@media only screen and (max-width: $sp_break_w){
	.l-looding {
		background-color: $is_color_wb02;
		&__bar {
			&:before {
				border-width: 2px;
			}
			&.is-basic {
				margin-top: -12px;
				margin-left: -12px;
				width: 25px;
				height: 25px;
				&:before {
					border-color: $is_color_wb01;
				}
			}
			&.is-orange {
				margin-top: -22px;
				margin-left: -22px;
				width: 45px;
				height: 45px;
			}
		}
	}
}

@keyframes spin01 {
	0% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes spin_orange {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
