@charset "UTF-8";
/*------------------------------------------------------------
	詳細ページ
------------------------------------------------------------*/
.p-detail {
	&__head {
		&--top {
			line-height: 1.5;
		}
		&--txt {
			display: inline-block;
			line-height: 1;
			vertical-align: middle;
		}
	}
	&__time {
		margin-right: 10px;
		color: $gray04;
	}
	&__cate {
		margin-right: 10px;
		text-align: center;
		&--anc {
			padding: 1px 10px 2px;
			min-width: 70px;
			background-color: $blue03;
			border-radius: 2px;
			color: #FFF;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__ttl {
		font-weight: 500;
		line-height: 1.5;
	}
	&__pagenavi {
		border: 3px solid $gray03;
		&--in {
			counter-reset: pagenavi;
		}
		&--list {
			padding-left: 20px;
			position: relative;
			&:not(:first-child) {
				margin-top: 10px;
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				color: $blue01;
				font-weight: bold;
				counter-increment: pagenavi;
				content: counter(pagenavi)". ";
			}
		}
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-detail {
		&__head {
			margin-bottom: 40px;
			&--top {
				margin-bottom: 15px;
			}
			&--txt {
				font-size: 1.4rem;
			}
		}
		&__cate {
			&--anc {
				opacity: 1;
				transition: opacity 500ms ease;
				&:hover {
					opacity: .7;
				}
			}
		}
		&__ttl {
			font-size: 3.6rem;
		}
		&__table {
			margin-bottom: 40px;
		}
		&__pagenavi {
			padding: 30px;
		}
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-detail {
		&__head {
			margin-bottom: 25px;
			&--top {
				margin-bottom: 15px;
			}
			&--txt {
				font-size: 1.2rem;
			}
		}
		&__ttl {
			font-size: 2.4rem;
		}
		&__table {
			margin-bottom: 25px;
			&--ttl {
				padding: 10px 15px;
				position: relative;
				background-color: $gray03;
				font-weight: bold;
				&:before,
				&:after {
					background-color: $blue01;
					position: absolute;
					top: 50%;
					transform: translateY(-50%) rotate(0);
					content: "";
				}
				&:before {
					width: 3px;
					height: 15px;
					right: 21px;
					transition: transform .3s ease;
				}
				&:after {
					width: 15px;
					height: 3px;
					right: 15px;
				}

				&.is-open {
					&:before {
						transform: translateY(-50%) rotate(90deg);
					}

					& + .p-detail__pagenavi {
						display: block;
					}
				}
			}
		}
		&__pagenavi {
			padding: 15px;
			display: none;
		}
	}
}

.p-detail__sns {
	display: flex;
	&--list {
		&:not(:first-child) {
			margin-left: 5px;
		}
	}
	&--anc {
		background-color: #EEE;
		border-radius: 2px;
		display: block;
		opacity: 1;
		color: #FFF;
		text-align: center;
		text-decoration: none;
		transition: opacity 500ms ease;
		&:hover {
			text-decoration: none;
		}

		&.is-tw {
			background-color: #55acee;
		}
		&.is-fb {
			background-color: #3b5998;
		}
		&.is-ha {
			background-color: #2c6ebd;
		}
	}
	&--txt {
		position: relative;
	}
	&--icon {
		margin-right: 5px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-detail__sns {
		&--anc {
			&:hover {
				opacity: .7;
			}
		}
	}

	//header内
	.p-detail__head {
		.p-detail__sns {
			margin-top: 30px;
			justify-content: flex-end;
			&--list {
				width: 100px;
			}
			&--anc {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 1.2rem;
			}
			&--txt {
				padding-left: 15px;
			}
		}
	}

	.p-detail__foot {
		.p-detail__sns {
			justify-content: space-between;
			&--list {
				flex: 1;
			}
			&--anc {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 1.4rem;
			}
			&--txt {
				padding-left: 30px;
			}
		}
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-detail__sns {
		&--list {
			width: 33.333%;
			flex: 1;
		}
		&--anc {
			font-size: 1.1rem;
		}
		&--txt {
			padding-left: 15px;
		}
		&--icon {
			width: 12px;
			height: 10px;
		}
	}

	//header内
	.p-detail__head {
		.p-detail__sns {
			margin-top: 15px;
			&--anc {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	.p-detail__foot {
		.p-detail__sns {
			justify-content: space-between;
			&--anc {
				padding-top: 13px;
				padding-bottom: 13px;
			}
		}
	}
}

.p-detail__foot {
	background-color: $gray02;
	position: relative;
	overflow: hidden;
	&:after {
		width: 100%;
		height: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, .3);
		position: absolute;
		top: -5px;
		left: 0;
		content: "";
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-detail__foot {
		margin-right: -30px;
		margin-bottom: -20px;
		margin-left: -30px;
		padding: 40px 30px;
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-detail__foot {
		margin-right: -15px;
		margin-bottom: -10px;
		margin-left: -15px;
		padding: 30px 15px;
	}
}

.p-comment {
	&__head {
		font-size: 1.2rem;
	}
	&__name {
		margin-right: 10px;
		color: $gray05;
	}
	&__time {
		color: $gray04;
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-comment {
		&__list {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-comment {
		&__list {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

.p-ad {
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	position: relative;
	overflow: hidden;

	ins {
		width: 100% !important;
		height: auto;
	}
	iframe {
		width: 100% !important;
		height: auto !important;
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-ad {
		margin-top: 60px;
		max-width: $detail_w;
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-ad {
		margin-top: 30px;
	}
}

.p-relation {
	&__anc {
		background-color: #FFF;
		position: relative;
		overflow: hidden;
		display: block;
		transition: box-shadow 500ms;
	}
	&__time {
		display: inline-block;
		color: $gray06;
		vertical-align: middle;
	}
	&__cate {
		margin-right: 5px;
		padding: 2px 10px;
		min-width: 70px;
		background-color: $gray05;
		border-radius: 2px;
		display: inline-block;
		color: #FFF;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
		vertical-align: middle;
	}
	&__ttl {
		width: 100%;
		overflow: hidden;
		color: #111;
		line-height: 1.5;
		&--in {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__box {
		width: 100%;
		overflow: hidden;
		color: $gray05;
		&--txt {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__anc:hover {
		text-decoration: none;
	}
}

// PCへ切り替え
@media only screen and (min-width: $pc_break_w) {
	.p-relation {
		&__in {
			margin-left: -30px;
			@include cf;
		}
		&__list {
			padding-left: 30px;
			width: 33.3%;
			float: left;
		}
		&__anc {
			height: 100%;
			box-shadow: 0 0 5px rgba(0, 0, 0, .1);
			&:before,
			&:after {
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:before {
				width: 100%;
				height: 100%;
				background-color: rgba(0, 92, 175, .8);
				border: 5px solid #fff;
				z-index: 1;
				content: "";
				transition: opacity 500ms ease;
			}
			&:after {
				margin-top: 5%;
				z-index: 2;
				color: #FFF;
				font-size: 3.6rem;
				line-height: 1.5;
				font-weight: bold;
				text-align: center;
				content: "READ MORE";
				transition: opacity 300ms ease 100ms, margin 300ms ease 100ms;
			}
		}
		&__time {
			margin-right: 10px;
			font-size: 1.2rem;
		}
		&__detail {
			padding: 15px;
		}
		&__head {
			margin-bottom: 10px;
		}
		&__ttl {
			margin-bottom: 5px;
			max-height: 55px;
			font-size: 1.8rem;
		}
		&__box {
			max-height: 70px;
			&--txt {
				-webkit-line-clamp: 3;
			}
		}
		&__anc:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);
			&:before,
			&:after {
				opacity: 1;
			}
			&:after {
				margin-top: 0;
			}
		}
	}
}

// SPへ切り替え
@media only screen and (max-width: $sp_break_w) {
	.p-relation {
		&__in {
			margin-right: -15px;
			margin-bottom: -10px;
			margin-left: -15px;
		}
		&__list {
			border-top: 1px solid $gray02;
		}
		&__anc {
			padding: 15px 30px 15px 15px;
			width: 100%;
			display: table;
			position: relative;
			&:after {
				width: 10px;
				height: 10px;
				border-top: 2px solid $blue01;
				border-right: 2px solid $blue01;
				position: absolute;
				top: 50%;
				right: 15px;
				content: "";
				transform: translateY(-50%) rotate(45deg);
			}
		}
		&__img,
		&__detail {
			display: table-cell;
			vertical-align: top;
		}
		&__img {
			padding-right: 15px;
			width: 80px;
		}
		&__time {
			margin-right: 5px;
			font-size: 1.1rem;
		}
		&__head {
			margin-bottom: 10px;
		}
		&__ttl {
			margin-bottom: 5px;
		}
		&__box {
			height: 20px;
			font-size: 1.3rem;
			&--txt {
				-webkit-line-clamp: 1;
			}
		}
	}
}

